body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* スクロールバーを非表示にするため */
  width: 100%;
  height: 100%;
}

canvas {
  display: block; /* キャンバスの余白を削除 */
  position: absolute;
  top: 0;
  left: 0;
}
